/**
 * LibreOffice theme
 * initially based on SilverStripe Black Candy Theme
 *
 * Main Layout File
 */

/* Misc Styles and defaults
-------------------------------------------- */

* {
	margin: 0;
	padding: 0;
}
body {
	font-size: 87.5%;
	margin-bottom: 40px;
	font-family: Arial, Verdana, sans-serif;
}
html {
	background: #626467 url(../images/bg.gif) repeat;
}
html > body   { font-size: 14px; }
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
.clear{
	clear:both;
}
a:focus,
a:hover     { color: #053552; text-decoration: underline; }
a           { color: #0E9CEE; text-decoration: none; }
a:visited   { color: #0369A3; }

/* CONTAINER
----------------------------------------- */
#BgContainer {
	width: 890px;
	margin: 0 auto;
}
#Container {
	width: 890px;
	padding-bottom: 15px;
	background: #fff;
}
#Layout {
	width: 860px;
	background: #fff url(../images/bg-sidebar.png) no-repeat top left;
	clear: both;
	overflow: hidden;
	margin: 0px auto;
	padding: 15px 15px 15px 15px;
}
#Content {
	width: 538px;
	float: right;
	margin: 0;
	text-align: left;
}
/* HEADER
----------------------------------------- */
#Header {
	width: 890px;
	margin: 0 auto;
	background: #f2f2f2 url(../images/logo.png) no-repeat left center;
}
	#Header h1 {
	  	color: #000000;
		font-size: 3em;
		font-family: Tahoma, Verdana, sans-serif;
		font-weight: 300;
		padding: 10px 0 0 110px;
	}
	#Header p {
		font-size: 1.4em;
		color: #0e9cee;
		clear: left;
		margin: 0 0 0 150px;
	}

/* MAIN NAVIGATION - TABS
----------------------------------------- */
#Navigation {
	width: 880px;
	margin: 0 auto;
	padding-top: 10px;
	padding-right: 10px;
	overflow: hidden;
	background: #f2f2f2;
	border-width: 6px;
	border-color: #18A303;
	border-bottom-style: solid;
}
	#Navigation ul {
		float: right;
		margin-right: 0px;
	}
		#Navigation ul li {
	 		list-style: none;
			margin-left: 10px;
			float: left;
			width: 100px;
			display: block;
		}
			#Navigation ul li a {
				float: left;
				text-decoration: none;
				height: 28px;
				margin-left: 4px;
				margin-right: 4px;
				padding-top: 6px;
				width: 100px;
				display: block;
				font-weight: bold;
				font-size: 1.2em;
				color: #000000;
			}
			#Navigation ul li a:hover {
				background: #18a303;
				background: url(../images/ControlElement_Tab_Complete_Mouseover.png) no-repeat;
				color: #fff;
				cursor: pointer;
			}
			#Navigation ul li a.current,
	    		#Navigation ul li a.section,
	    		#Navigation ul li a.section:hover,
	    		#Navigation ul li a.current:hover {
					background: url(../images/ControlElement_Tab_Complete_Default.png) no-repeat;
				 	color: #444;
			}
				#Navigation ul li a span {
					text-align: center;
					float: left;
					width: 100px;
				}
				#Navigation ul li a:hover span {
					cursor: pointer;
				}
				#Navigation ul li a.current span,
				#Navigation ul li a.section span,
				#Navigation ul li a.section:hover span,
				#Navigation ul li a.current:hover span {
					color: #fff;
				}

/* BREADCRUMBS
-------------------------------------------- */
#Breadcrumbs {
	color: #B7C0C5;
	text-align: left;
	font-size: 0.9em;
	margin: -10px 0px 5px 85px;
}
	#Breadcrumbs p {
		margin: 0;
	}

/* SIDEBAR
-------------------------------------- */
#Sidebar {
	width: 100px;
	float: left;
	margin: 70px -100px 0 0;
	padding: 0;
}
	#Sidebar .sidebarBox {
		margin: 0 0 5px 0;
		padding-bottom: 2px;
		background: #18A303;
	}
	#Sidebar ul {
		margin: 2px 0 5px 3px;
	}
		#Sidebar li {
			margin: 8px 2px;
			list-style: none;
		}
	#Sidebar h3 {
		clear: both;
		text-transform: lowercase;
		color: #fff;
		font-weight: 700;
		font-size: 1em;
		margin: 0 0 5px 0;
		line-height: 1.8;
		padding: 7px 0 0 10px;
	}
	#Sidebar .sidebarBottom {
		height: 0px;
		display: block;
		width: 100px;
		margin: -5px 0 0 0;
		background: #f2f2f2;
	}
	#Sidebar a em {
		font-style: normal;
	}
	#Sidebar p {
		font-size: 11px;
	 	clear: both;
	 	margin: 10px 10px 0 10px;
	}

/* MENU2 */
ul#Menu2 li {
	font-size: 0.9em;
	margin: 1px 0 5px 4px;
	list-style: none;
	background: #f2f2f2;
}
	ul#Menu2 li a {
		display: block;
		width: 96px;
		font-size: 1em;
		height: 1.8em;
		line-height: 1.8em;
		color: #808080;
	}
	ul#Menu2 li em {
		padding-left: 8px;
		display: block;
	}
		ul#Menu2 li li em {
			padding-left: 0;
		}
	/* Level 1
	 * We use 3 elements for the nav to get 3 background images applied.
	 * span - topleft rounded corner
	 * em - bottomleft rounded corner
	 * a - arrow on the right
	 <a><span><em></em></span></a>
	 */
	ul#Menu2 li a:hover,
	ul#Menu2 li a.current,
	ul#Menu2 li a.current:hover {
		background: #DCDCDC url(../images/sidebarSideArrow.gif) no-repeat right center;
		color: #555;
		cursor: pointer;
		text-decoration: none;
	}
	ul#Menu2 li a.current {
		font-weight: 700;
	}
	ul#Menu2 li a.section,
	ul#Menu2 li a.section:hover {
		background: #f2f2f2;
		font-weight: 700;
		width: 93px;
	}
		ul#Menu2 li a.levela:hover span,
		ul#Menu2 li a.current span,
		ul#Menu2 li a.section span,
		ul#Menu2 li a.section:hover span,
		ul#Menu2 li a.current:hover span {
			display: block;
			width: 100%;
			height: 100%;
		}
		ul#Menu2 li a.levela:hover em,
		ul#Menu2 li a.current em,
		ul#Menu2 li a.section em,
		ul#Menu2 li a.section:hover em,
		ul#Menu2 li a.current:hover em {
			display: block;
			width: 100%;
			height: 100%;
		}
ul#Menu2 li ul {
	height: 100%;
	position: relative;
	margin: 0;
	width: 93px;
	padding: 0;
	background: #f2f2f2;
	}
	ul#Menu2 li ul li {
		padding: 0;
		font-size: 0.8em;
		margin: 0;
	}
		ul#Menu2 li ul li ul {
			background: #f2f2f2;
			margin-left: 0;
		}
			ul#Menu2 li li a.current,
			ul#Menu2 li li a.section,
			ul#Menu2 li li a.section:hover,
			ul#Menu2 li li a.current:hover {
				color: #555;
				font-weight: 700;
				background: #DCDCDC;
			}
			ul#Menu2 li li ul {
				margin: 0 0 0 10px;
				padding: 0;
				width: 75px;
			}
				ul#Menu2 li li ul .roundWhite {
					margin-bottom: -10px;
				}
	/* Sub Menu */
	ul#Menu2 li a.levelb {
		font-size: 1.7em;
		text-indent: 8px;
		width: 88px;
		background: transparent;
		margin-left: 10px;
	}
	ul#Menu2 li a.levelb:hover,
	ul#Menu2 li li a.current,
	ul#Menu2 li li a.current:hover,
	ul#Menu2 li li a.section,
	ul#Menu2 li li a.section:hover {
		background: #BCBCBC url(../images/sidebarSideArrow2.gif) no-repeat right center;
		text-decoration: none;
		display: block;
		color: #333;
	}
	ul#Menu2 li a.levelb:hover span,
	ul#Menu2 li li a.current span,
	ul#Menu2 li li a.current:hover span,
	ul#Menu2 li li a.section span,
	ul#Menu2 li li a.section:hover span {
		display: block;
		width: 100%;
		height: 100%;
	}
	ul#Menu2 li a.levelb:hover em,
	ul#Menu2 li li a.current em,
	ul#Menu2 li li a.current:hover em,
	ul#Menu2 li li a.section em,
	ul#Menu2 li li a.section:hover em {
		display: block;
		width: 100%;
		height: 100%;
	}

/* COMMENTS
---------------------------------------- */
#CommentHolder ul {
	list-style: none;
	margin: 20px 0;
}
#PageComments li {
	margin: 5px 0;
	padding: 1px;
	width: 88%;
}
	#PageComments li.odd {
		background: #E8F6FF url(../images/commentBg.png) no-repeat 1% 10%;
		padding-left: 40px;
		padding-right: 10px;
		border-bottom: 2px solid #BCE4FE;
	}
	#PageComments li.even {
		background: #fff url(../images/commentBgAlt.png) no-repeat 99% 10%;
		padding-right: 40px;
		padding-left: 10px;
	}
		#PageComments li.odd p.info {
			color: #3AA0C3;
		}
		.actionLinks li {
		   display: inline;
		   border-right: 1px solid #ddd;
		}
			.actionLinks li a {
				padding-right: 3px;
				font-size: 10px;
			}
		.actionLinks li.last {
			border-right: none;
		}
.commentrss {
	background: transparent url(../images/feed-icon-14x14.png) no-repeat;
	padding-left: 20px;
	font-size: 1.1em;
	line-height: 1.6em;
}
#PageCommentsPagination p {
	text-align: center;
	font-size: 1.2em;
}
#PageComments p {
	font-size: 1em;
	margin: 8px 0;
}
	#PageComments p.info {
		color: #999;
		margin: 0px;
		padding: 0;
		line-height: 1em;
		font-size: 0.9em;
	}
#PageCommentInterface_Form_PostCommentForm_action_postcomment {
	margin-bottom: 20px;
}

/* SEARCH RESULTS STYLES
------------------------------------------------ */
ul#SearchResults {
	margin: 10px 0;
}
	ul#SearchResults li {
		list-style: none;
		margin: 5px 0;
		font-size: 1em;
	}

/* SEARCH FORM
-----------------------------------------------*/
#SearchForm_SearchForm {
	float: right;
	width: 240px;
	margin: 5px;
}
	#SearchForm_SearchForm .middleColumn {
		float: left;
		width: 164px;
		margin: 0 5px 0 0;
		padding: 2px;
		background-color: #51a9df;
	}
		#SearchForm_SearchForm .middleColumn input.text {
			width: 160px;
			border: none;
			color: #666;
		}
	#SearchForm_SearchForm #SearchForm_SearchForm_action_results {
		float: left;
		margin-top: 2px;
	}

/* MESSAGEBOXS
--------------------------------------------- */
.message {
	margin: 15px;
	padding: 5px;
	width: 92%;
	color: #979908;
	border: 4px solid #F7F8B4;
	background: #FFFFEA;
}
span.middleColumn .message {
	margin: 4px 0 0 3px;
}
.required {
	margin: 4px 0 0 3px;
	padding: 5px;
	width: 92%;
	color: #DC1313;
	border: 4px solid #FF7373;
	background: #FED0D0;
}
p#Remember label {
	margin: -24px 0 0 20px;
	text-align: left;
}
.entry {
	border-bottom: 1px solid #eee;
}
div.typography {
	margin-left: 115px;
	padding-right: 50px;
	float: left;
}
.typography #Content p.authorDate {
	color: #444;
	margin-top: -15px;
}

/* UNSUBSCRIBE NEWSLETTER
------------------------------------------------ */
#Unsubscribe_MailingListForm_MailingListForm{
	min-height:100px;
}

	#Unsubscribe_MailingListForm_MailingListForm p{
		margin:0 !important;
		padding:10px;
	}
		#Unsubscribe_MailingListForm_MailingListForm p label{
			display: inline;
		}
	#Unsubscribe_MailingListForm_MailingListForm label{
		margin:0;
	}

/* FOOTER
----------------------------------------------- */
#Footer {
	font-size: 0.7em;
	line-height: 1.3em;
	color: #000;
	clear: both;
	width: 890px;
	padding-bottom: 10px;
	background: #fff;
	text-align: center;
}
	#Footer .footerTop {
		width: 100%;
		display: block;
	}
	#Footer table {
		margin: 0 55px 0 55px;
		width: 780px;
}

/* for cms-aware tranlsations of the pages */
div#translations {
	font-size: 0.9em;
	margin-left: 85px;
	margin-top: -10px;
	margin-bottom: 5px;
}
div#Breadcrumbs + div#translations {
	margin-top: -5px;
}
div#translations p {
	display:inline;
}
ul.translations {
	display:inline;
	list-style: none;
}
ul.translations li {
	display: inline;
}
#right-nav {
	float: right;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	margin: 0 -50px 0 0;
}
ul#rnav + ul.ul-libreoffice {
	/* if areas overlap, hover doesn't work correctly */
	margin-right: 290px;
}
#rnav {
	float: right;
	margin: 0 -50px 0 0;
}
	#rnav li {
		list-style: none;
		margin: 0;
		height: 62px;
	}
		#rnav li a {
			text-indent: -9999px;
			float: right;
			width: 320px;
			height: 50px;
			display: block;
			margin-left: 4px;
			margin-right: 4px;
			margin-top: 6px;
			margin-bottom: 6px;
			font-size: 100%;
			color: #000000;
			font-weight: bold;
			text-decoration: none;
			text-align: left;
		}
	#rnav li.rnav-download {
		height: 93px;
	}
		#rnav li.rnav-download a {
			height: 81px;
			background: url(../images/buttons/ControlElement_Button_DownloadLibreOffice_Default.png) no-repeat;
		}
		#rnav li.rnav-download a:hover {
			background: url(../images/buttons/ControlElement_Button_DownloadLibreOffice_Mouseover.png) no-repeat;
		}
		#rnav li.rnav-blue a {
			background: url(../images/buttons/ControlElement_Button_Wide_Blue_Default.png) no-repeat;
		}
		#rnav li.rnav-blue a:hover {
			background: url(../images/buttons/ControlElement_Button_Wide_Blue_Mouseover.png) no-repeat;
		}
		#rnav li.rnav-green a {
			background: url(../images/buttons/ControlElement_Button_Wide_Green_Default.png) no-repeat;
		}
		#rnav li.rnav-green a:hover {
			background: url(../images/buttons/ControlElement_Button_Wide_Green_Mouseover.png) no-repeat;
		}
		#rnav li.rnav-magenta a {
			background: url(../images/buttons/ControlElement_Button_Wide_Magenta_Default.png) no-repeat;
		}
		#rnav li.rnav-magenta a:hover {
			background: url(../images/buttons/ControlElement_Button_Wide_Magenta_Mouseover.png) no-repeat;
		}
		#rnav li.rnav-orange a {
			background: url(../images/buttons/ControlElement_Button_Wide_Orange_Default.png) no-repeat;
		}
		#rnav li.rnav-orange a:hover {
			background: url(../images/buttons/ControlElement_Button_Wide_Orange_Mouseover.png) no-repeat;
		}
#right-download {
	float: right;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	margin: 0;
}
	#right-download img {
		margin-left: auto;
		margin-right: auto;
	}
#dlnav {
	position: relative;
	margin: 0 0 0 0;
}
	#dlnav li {
		list-style: none;
		margin-left: 0px;
		padding: 0;
		display: block;
	}
		#dlnav li a {
			display: block;
			margin-left: 4px;
			margin-right: 4px;
			font-size: 100%;
			color: #000000;
			text-decoration: none;
			text-align: left;
			vertical-align: middle;
			padding-left: 340px;
		}
		#dlnav li a:hover {
			text-decoration: underline;
		}
		#dlnav li.dlnav-linux64 a {
			height: 81px;
			background: url(../images/buttons/ControlElement_Button_Download_Orange_Linux64_Default.png) no-repeat;
		}
		#dlnav li.dlnav-linux64 a:hover {
			background: url(../images/buttons/ControlElement_Button_Download_Orange_Linux64_Mouseover.png) no-repeat;
		}
		#dlnav li.dlnav-win32 a {
			height: 81px;
			background: url(../images/buttons/ControlElement_Button_Download_Magenta_Windows_Default.png) no-repeat;
		}
		#dlnav li.dlnav-win32 a:hover {
			background: url(../images/buttons/ControlElement_Button_Download_Magenta_Windows_Mouseover.png) no-repeat;
		}
		#dlnav li.dlnav-linux32 a {
			height: 81px;
			background: url(../images/buttons/ControlElement_Button_Download_Orange_Linux_Default.png) no-repeat;
		}
		#dlnav li.dlnav-linux32 a:hover {
			background: url(../images/buttons/ControlElement_Button_Download_Orange_Linux_Mouseover.png) no-repeat;
		}
		#dlnav li.dlnav-mac a {
			height: 81px;
			background: url(../images/buttons/ControlElement_Button_Download_Blue_Mac_Default.png) no-repeat;
		}
		#dlnav li.dlnav-mac a:hover {
			background: url(../images/buttons/ControlElement_Button_Download_Blue_Mac_Mouseover.png) no-repeat;
		}
		#dlnav li.dlnav-source a {
			height: 81px;
			background: url(../images/buttons/ControlElement_Button_Download_Green_Source_Default.png) no-repeat;
		}
		#dlnav li.dlnav-source a:hover {
			background: url(../images/buttons/ControlElement_Button_Download_Green_Source_Mouseover.png) no-repeat;
		}
div#screenshot-slide {
	height: 360px;
}
div#right-download {
	margin-right: -50px;
}
#supporters table {
	margin-left: 40px;
	border-width: 0px;
	margin-right: 40px;
}
