/**
 * LibreOffice theme
 * initially based on SilverStripe Black Candy Theme
 *
 * This typography file is included in the WYSIWYG editor and the front end. It provides
 * a place to add link styles and font styles you would like in the CMS and the Front End.
 */

/* PARAGRAPHS
-------------------------------------------- */
.typography p {
	margin: 0 0 18px 0;
}

/* QUOTES
-------------------------------------------- */
.typography blockquote {
	margin: 10px;
	font-size: 1.4em;
	color: #777;
	font-style: italic;
}
.typography q {
	display:block;
	font-size: 0.8em;
	margin: 1em 1em;
	padding: 0.5em;
	border: 1px #ccc solid;
}

/* LINKS
-------------------------------------------- */

.typography a {
	text-decoration: none;
	color: #0369A3;
}
.typography a:hover {
	text-decoration: underline;
	color: #0369A3;
}
.typography a:visited  {
	text-decoration: underline;
	color: #18A303;
}
/* LINK ICONS - shows type of file
------------------------------------ */
.typography a[href$=".pdf"],
.typography a[href$=".PDF"],
.typography a.pdf {
	padding: 2px;
	padding-left: 20px;
	background: url(../images/icons/page_white_acrobat.png) no-repeat left center;
}
.typography a[href$=".doc"],
.typography a[href$=".DOC"],
.typography a.doc {
	padding: 2px;
	padding-left: 20px;
	background: url(../images/icons/page_word.png) no-repeat left center;
}
.typography a[href$=".xls"],
.typography a[href$=".XLS"],
.typography a.xls {
	padding: 2px;
	padding-left: 20px;
	background: url(../images/icons/page_excel.png) no-repeat left center;
}
.typography a[href$=".gz"],
.typography a[href$=".GZ"],
.typography a[href$=".gzip"],
.typography a[href$=".GZIP"],
.typography a[href$=".zip"],
.typography a[href$=".ZIP"],
.typography a.archive {
	padding: 2px;
	padding-left: 20px;
	background: url(../images/icons/page_white_zip.png) no-repeat left center;
}
.typography a[href$=".exe"],
.typography a[href$=".EXE"],
.typography a.application {
	padding: 2px;
	padding-left: 20px;
	background: url(../images/icons/application.png) no-repeat left center;
}

/* LIST STYLES
-------------------------------------------- */
.typography ul,
.typography ol {
	margin: 0 0 18px 24px;
}
	.typography li {
		margin: 5px 10px;
	}
		.typography li li {
		}

/* used by FolderPage */
.typography li.folder {
	background: url(../images/icons/folder_open.png) no-repeat left top;
	margin-left: -12px;
	padding-left: 22px;
	list-style-type: none;
}

/* HEADER STYLES
-------------------------------------------- */
.typography h1,
.typography h2,
.typography h3 {
	color: #18A303;
	margin: 0 0 18px 0;
	font-weight: 400;
}

.typography h1 {
	font-size: 24px;
}
.typography h2 {
	font-size: 2em;
}
.typography h3 {
	font-size: 1.5em;
}
.typography h4 {
	font-size: 16px;
	color: #222;
	width: 95%;
	font-weight: 300;
	line-height: 18px;
	border-bottom: 1px solid #ccc;
	margin: 0 0 16px 0;
}
.typography h5 {
	font-size: 14px;
	color: #222;
	font-weight: 700;
	margin: 0 0 12px 0;
}
.typography h6 {
	font-size: 13px;
	color: #555;
	line-height: 1.4em;
	margin: 0 0 12px 0;
}

/* PRE STYLES
-------------------------------------------- */
.typography pre {
	font-family:"Courier New",Courier;
	display:block;
	font-size:1.2em;
	margin:2em 5em;
	padding:0.5em;
	border:1px #ccc solid;
	background:#eee;;
}

/* TABLE STYLING
-------------------------------------------- */
.typography table {
	margin: 0 0 18px 0;
	border-collapse:collapse;
}
	.typography tr {}
		.typography td {
			padding:5px;
		}

/* WYSIWYG EDITOR ALIGNMENT CLASSES
-------------------------------------------- */
.typography .left {
	text-align: left;
}
.typography .center {
	text-align: center;
}
.typography .right {
	text-align: right;
}

/* IMAGES
-------------------------------------------- */
.typography img {
	border: none;
}
	.typography img.right {
		float: right;
		margin-left: 20px;
	}
	.typography img.left {
		float: left;
	}
	.typography img.leftAlone {
		float: left;
		margin-right: 100%;
	}
	.typography img.center {
		float: none;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}

ul.ul-libreoffice li {
	position: relative;
	list-style: none;
	margin-left: 0px;
	background: url(../images/li-bullet-single-dark.png) no-repeat;
	background-position: 4px 3px;
	padding-left: 30px;
	display: block;
	color: #000;
	margin-bottom: 20px;
	margin-top: 10px;
}
.typography kbd {
	color: #000;
	font-family: monospace;
	background: #ddd;
}
#supporters td {
	border-width: 0px;
	vertical-align:top;
	padding-bottom: 50px;
}
.foundationtable th {
	font-size: 140%;
	padding: 6px;
	vertical-align: middle;
	background: #eee;
}
.foundationtable tbody tr:first-child td  {
	padding-top: 20px;
}
.foundationtable tbody tr td:first-child  {
	padding-left: 0px;
	padding-right: 15px;
}
p.roles {
	font-variant: small-caps;
}

/* STRONG
-------------------------------------------- */
.typography strong {
	color: #18A303;
}
.highlight {
	background: yellow;
}

/* for translation status sitemap */
div.missing {
	background-color: red;
}
div.live {
	background-color: green;
}
div.unpublished {
	background-color: orange;
}
div.changed {
	background-color: yellow;
}

/* for horizontally aligned li-children */
ul.table {
	display: table;
}
ul.table > li {
	display: table-row;
}
ul.table > li > * {
	display: table-cell;
	padding-right: 1em;
}
