/* Core Styles */

* {
	margin: 0;
	padding: 0;
}

body {
	font: 87.5% sans-serif;
	background: url(../images/background-page.png) repeat-x #FFF;
}

/* Styles go from the top of the page to the bottom (generally) */

#Container {
	width: 900px;
	margin: auto;
}

#Logo {
	display: inline-block;
	width: 218px;
	height: 45px;
	padding: 18px;
	background: url(../images/logo.png) no-repeat 18px 18px;
	/* height: 53px;
	padding: 10px 18px 18px 18px;
	background: url(../images/logo-seasonal-xmas.png) no-repeat 18px 10px; */
	*float:left;/* hack for IE7 that doesn't respect inline-block */
}
#TopHeader { height: 88px;/* needed for IE7 */}
#TopHeader, #BottomHeader {
	padding-left: 5px;
	padding-right: 5px;
	background-image: url(../images/header.png);
	background-repeat: no-repeat;
}
#Layout {
	padding: 0 5px;
}
#HeaderTagLine {
	float: right; 
	padding-top: 30px;
	padding-right: 20px;
	color: #18A303;
	font-size: 1.2em;
}
#TopHeader.Conference { height: 105px; }
#TopHeader.Conference #HeaderTagLine { padding-top: 45px; }
#TopHeader.Conference #Logo {
	width: 517px;
	height: 105px;
	padding: 0;
	background: url(../images/LibO_Conference_Logo_2011Paris_color.png) no-repeat -15px -11px;
}

#BottomHeader {
	background-position: 0 bottom;
	margin-bottom: 1.25em;
}

#FirstNavigation, #SecondNavigation {
	width: 100%;
	display: block;
	list-style: none;
	white-space: nowrap;
	word-spacing: -1em;
	letter-spacing: -4px;
}

#FirstNavigation {
	background: #18A303;
	border-bottom: 6px solid #43C330;
}
#SecondNavigation {
	margin-top: -6px;
}

.SingleMenu {
	padding-bottom: 10px;
}

#FirstNavigation li, #SecondNavigation li {
	display: inline-block;
	zoom:1; *display:inline;/* for ie6/7 */
	word-spacing: normal;
	letter-spacing: normal;
	margin: 0;
	padding: 0;
	list-style: none;
}
#FirstNavigation li a, #SecondNavigation li a {
	display: block;
	text-decoration: none;
	color: #FFF;
}
#FirstNavigation li a {
	padding: 9px 18px;
	margin-bottom: -6px;
	background: #18A303;
	border-bottom: 6px solid #43C330;
}
#SecondNavigation li a {
	padding: 8px 16px;
	margin-bottom: 10px;
	font-size: .95em;
	background: #43C330;
}
#FirstNavigation li a span, #SecondNavigation li a span {
	opacity: .75;
}
#FirstNavigation li a:hover span, #SecondNavigation li a:hover span, #ThirdNavigation li a:hover {
	opacity: 1;
	text-decoration: none;
}
#FirstNavigation li.current a span, #SecondNavigation li.current a span, #SecondNavigation li.section a span {
	opacity: 1;
	font-weight: bold;
}
#FirstNavigation li.section > a span {
	opacity: 1;
}
#FirstNavigation li.current a, #FirstNavigation li.section > a {
	background-color: #43C330;
}
#SecondNavigation li.current, #SecondNavigation li.section {
	background: url(../images/navigation-second-current.png) center bottom no-repeat;
}

/*#FirstNavigation > li {
	position: relative;
}

#FirstNavigation li ul {
	position: absolute;
	background-color: #43C330;
	z-index: 50;
	display: none;
}

#FirstNavigation li:hover ul {
	display: block;
}
*/

#Layout #ThirdNavigation {
	float: left;
	width: 17.5%;
	margin: .6em 0 0 0;
}
#Layout[dir="rtl"] #ThirdNavigation {
	float: right;
}

#Layout #ThirdNavigation > li {
	margin-bottom: 0.25em;
	display: block;
	padding: 0;
	background-image: none;
	position: relative;
}

#ThirdNavigation >li>ul {
	position: absolute;
	z-index: 50;
	top: 0;
	left: 100%;
	background-color: white;
	display: none;
	white-space: nowrap;
}
#ThirdNavigation >li:hover >ul {
	display: block;
}

#Layout #ThirdNavigation li a {
	margin: 0;
	display: block;
	padding: 3px 10px 3px 0;
	border-bottom: 1px solid #92E285;
}

#Layout #ThirdNavigation li a:hover {
	background: url(../images/heading-green.png) repeat-x 0 bottom;
}

#Layout #ThirdNavigation li a.current {
	color: #106802;
	/*text-shadow: #18A303 0px 1px 1px;*/
	font-weight: bold;
	border-bottom: 1px solid #18A303;
}

/* Restyle by Ivan M. 2011-09-14 */

#DownloadButton {
	display: block;
	font-weight: bold;
	box-shadow: 0 3px 5px #AAA;
	-moz-box-shadow: 0 3px 5px #AAA;
	-webkit-box-shadow: 0 3px 5px #AAA;
	padding: 25px 0 0 100px;
	width: 340px;
	height: 55px;
	font-size: 1.5em;
	color: #FFF;
	text-shadow: 0 2px #18A303;
	background: url(../images/download-button.png) no-repeat #18A303;
}

#DownloadButton:hover {
	background-position: 0 -80px;
	color: #FFF;
	text-decoration: none;
}

#Footer {
	margin: 0 5px;
	clear: both;
	border-top: 6px solid #43C330;
	padding: 1.25em 0 2.2em 0;
	font-size: 80%;
}

#FooterText {
	display: inline-block;
}

#FooterText p {
	line-height: 150%;
	margin: 0;
}

#FooterText ul {
	margin: 0 0 10px 0;
	float: left;
}

#FooterText ul li {
	display: inline-block;
	margin: 0 0 0 18px;
}

#CreativeCommons {
	float: right;
	display: block;
	margin: 3px 0 20px 18px;
	width: 88px;
	height: 30px;
	background: url(../images/creative-commons-license.png) no-repeat;
}

div.HalfBlockLeft, div.HalfBlockRight {
	width: 440px; 
	float: left;
	display: block;
}

div.HalfBlockRight {
	float: right;
}

.ThirdLevelPage {
	width: 80%;
	margin: 0 0 0 1%;
}

div#screenshot-slide, a#toTop {
	background-repeat: no-repeat;
}

div#filtered {
	margin-top: 0.8em;
}

div.faqsList {
	margin-top: 1em;
	margin-bottom: 1.2em;
}

a#toTop {
	background-image: url(../images/tango_totop.png);
	text-indent: 48px;
	white-space: nowrap;
	width: 48px;
	height: 48px;
	position: fixed;
	top: 5px;
	right: 0px;
}
div#translations p, ul.translations, ul.translations li {
	display: inline-block;
}
div#translations > ul.translations> li:first-letter {
	text-transform: uppercase;
}
ul.translations li:not(:last-child):after {
	content: ", ";
}
